<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="skeleton.css">
  <link rel="stylesheet" type="text/css" href="poems.css">
</head>
<body class='container'>
  <div class='poem'>
    <%= @words %>
  </div>
</body>
