<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="poems.css">
</head>
<body class='container'>
  <h1 class='poem_header'>Bad Haiku</h1>
  <div class='poem'>
    <p><%= @haiku.first_line %></p>
    <p><%= @haiku.second_line %></p>
    <p><%= @haiku.third_line %></p>
  </div>
</body>
