body {
  font-family: 'Dosis', sans-serif;
  background-image:url(bg.png);
  background-repeat:repeat;
  font-size: 22px;
}

.poem {
  background-color: #FFF;
  margin: 0% 20% 20% 20%;
  width: 60%;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.poem_header {
  margin: 0% 0% 0% 20%;
}
